{
  "extends": [
    "eslint:recommended",
    "google",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "arrow-parens": 0,
    "indent": ["error", 4, {"SwitchCase": 1}],
    "linebreak-style": 0,
    "max-len": ["error", 120],
    "no-mixed-requires": 1,
    "no-useless-constructor": 0,
    "object-curly-spacing": 0,
    "one-var": 0,
    "padded-blocks": 0,
    "react/prop-types": 0
  }
}