*/.settings
*/.idea
*.class
*csproj.user
*.css.map

node_modules

coverage
dist/*.js
dist/*.eot
dist/*.jpg
dist/*.woff2
dist/*.woff
dist/*.map
dist/*.svg
dist/*.ttf
test-tmp/**

*.log
.idea
.sass-cache
.DS_Store
tmp

.project
.settings

# ignore file system blob storage files
blob-local-storage

config/config.dev*.js

*.swp
*~
